{% extends 'student/basic.html' %}
{% load static %}
{% block content %}


            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">

                    <ul>
                        <li>
                            <a href="/student/">Home</a>
                        </li>
                        <li>My Profile</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Student Details Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">

                        <div class="single-info-details">
                            {% comment %} <div class="item-img">
                                <img src={{ obj.profile_pic.url }} alt="student">
                            </div> {% endcomment %}
                            <div class="item-content">
                                <div class="header-inline item-header">
                                    <h3 class="text-dark-medium font-medium">{{ obj.first_name}} {{ obj.last_name}}</h3>
                                    <div class="header-elements">
                                        <ul>
                                            <li><a href="/editdetails_student/"><i class="far fa-edit"></i></a></li>
                                            <li><a href="#"><i class="fas fa-download"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <p>{{ obj.bio }}</p>
                                <div class="info-table table-responsive">
                                    <table class="table text-nowrap">
                                        <tbody>
                                            <tr>
                                                <td>Name:</td>
                                                <td class="font-medium text-dark-medium">{{ obj.first_name}} {{ obj.last_name}}</td>
                                            </tr>
                                            
                                            <tr>
                                                <td>Gender:</td>
                                                <td class="font-medium text-dark-medium">{{ obj.gender }}</td>
                                            </tr>
                                            <tr>
                                                <td>E-Mail:</td>
                                                <td class="font-medium text-dark-medium">{{ user.email }}</td>
                                            </tr>
                                            <tr>
                                                <td>Phone:</td>
                                                <td class="font-medium text-dark-medium">{{ obj.phone }}</td>
                                            </tr>
                                            <tr>
                                                <td>Class:</td>
                                                <td class="font-medium text-dark-medium">{{ obj.class_name }}th</td>
                                            </tr>
                                            
                                            <tr>
                                                <td>Roll No:</td>
                                                <td class="font-medium text-dark-medium">{{ obj.roll_no }}</td>
                                            </tr>
                                            <tr>
                                                <td>Father Name:</td>
                                                <td class="font-medium text-dark-medium">{{ obj.ffather_name }}</td>
                                            </tr>
                                            <tr>
                                                <td>Mother Name:</td>
                                                <td class="font-medium text-dark-medium">{{ obj.mother_name }}</td>
                                            </tr>
                                            <tr>
                                                <td>Date Of Birth:</td>
                                                <td class="font-medium text-dark-medium">{{ obj.date_of_birth }}</td>
                                            </tr>
                                            <tr>
                                                <td>Address:</td>
                                                <td class="font-medium text-dark-medium">{{ obj.address }}</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

{% endblock %}