{% extends 'student/basic.html' %}
{% load static %}
{% block content %}


            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">

                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>Teacher Details</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Student Details Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">

                        <div class="single-info-details">
                            <div class="item-img">
                                <img src="{% static 'img11/figure/student1.jpg' %}" alt="student">
                            </div>
                            <div class="item-content">
                                <div class="header-inline item-header">
                                    <h3 class="text-dark-medium font-medium">Jessia Rose</h3>
                                </div>
                                <p>Aliquam erat volutpat. Curabiene natis massa sedde lacu stiquen sodale
                                word moun taiery.Aliquam erat volutpaturabiene natis massa sedde  sodale
                                word moun taiery.</p>
                                <div class="info-table table-responsive">
                                    <table class="table text-nowrap">
                                        <tbody>
                                            <tr>
                                                <td>Name:</td>
                                                <td class="font-medium text-dark-medium">Jessia Rose</td>
                                            </tr>

                                            <tr>
                                                <td>Gender:</td>
                                                <td class="font-medium text-dark-medium">Female</td>
                                            </tr>
                                            <tr>
                                                <td>E-Mail:</td>
                                                <td class="font-medium text-dark-medium">jessiarose@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <td>Phone:</td>
                                                <td class="font-medium text-dark-medium">878787748788</td>
                                            </tr>

                                            <tr>
                                                <td>Subjects</td>
                                                <td class="font-medium text-dark-medium">Maths</td>
                                            </tr>
                                            <tr>
                                                <td>Classes</td>
                                                <td class="font-medium text-dark-medium">8,10,11</td>
                                            </tr>
                                            <tr>
                                                <td>Qualifications:</td>
                                                <td class="font-medium text-dark-medium">Btech</td>
                                            </tr>
                                            <tr>
                                                <td>Address:</td>
                                                <td class="font-medium text-dark-medium">Address</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

{% endblock %}